app-root-comp{

  #ad-bg{
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    //background-size: cover;

    .time-back{
      position: fixed;
      color: white;
      background-color: rgba(0,0,0,0.3);
      top: 20px;
      right: 10px;
      min-wigth: 40px;
      border-radius: 3px;
      padding: 5px 8px;
      font-size: 18px;
      z-index: 10001;
      color: white;
      span{
        color: white;
      }
    }

    img{
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index:10000;
      }
  }

}

//@keyframes adbg-animaton {
//  from{
//    background-color: white;
//  }
//  to{
//    background-color: rgba(0,0,0,0);
//  }
//
//}