<#assign basePath=request.contextPath/>
<#assign resourceUrl=request.contextPath/>
<!DOCTYPE html>
<html>
<head>
<title>登录</title>
</head>
<body>
<input type="hidden" id="basePath" value="${basePath}"/>
<script src="${resourceUrl}/js/jquery-1.10.2.min.js"></script>
<script>
var dataCache = {};
function getQueryString(name) {
    var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
    var r = window.location.search.substr(1).match(reg);
    if (r != null) {
        return decodeURIComponent(r[2]);
    }
    return null;
}

function ajaxGet(url, param, reload, sync) {
	if (typeof param == 'boolean' || typeof param == 'undefined') {
		reload = param;
		param = {};
	}
	var tokenStr = '_=' + new Date().valueOf(),
		symbol = (url.indexOf('?') === -1 ? '?' : '&');
	if (url && !/_=.*/.test(url)) {
		var send_url = url + symbol + tokenStr;
	}
	var cache_url = url + JSON.stringify(param);
	if (reload) {
		delete dataCache[cache_url];
	}
	if (!dataCache[cache_url]) {
		dataCache[cache_url] = $.ajax({
			async: !sync,
			type: 'get',
			url: send_url,
			data: param
		});
		dataCache[cache_url].then(function(res) {
			if (!res.success) {
				alert(res.msg);
			}
		}, function() {
			alert(res.msg);
		});
	}
	return dataCache[cache_url];
}

function ajaxPost(url, param) {
    var promise = $.ajax({
        url: url,
        type: 'POST',
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify(param)
    });
    promise.then(function(res) {
        if (!res.success) {
            alert(res.msg);
        }
    }, function(obj, error, msg) {
        alert(msg);
    });
    return promise;
}
ajaxGet($('#basePath').val() + '/auth2/login/wx', {
	code: getQueryString('code')
}).then(function(res) {
	console.log(res);
	window.parent.postMessage(res.data || '', '*');
});
</script>
</body>
</html>