<ion-header class="forum-head">
    <ion-navbar color="navbar-color">
        <ion-title>
            <segment-view
                    [leftTitle]="'发出的'"
                    [rightTitle]="'收到的'"
                    (emitter) = "changType($event)"
            ></segment-view>
        </ion-title>

    </ion-navbar>
    <!--<ion-toolbar no-border-top>-->
        <!--<ion-segment [(ngModel)]="segment">-->
            <!--<ion-segment-button value="wsdd">-->
                <!--我收到的-->
            <!--</ion-segment-button>-->
            <!--<ion-segment-button value="wfcd">-->
                <!--我发出的-->
            <!--</ion-segment-button>-->
        <!--</ion-segment>-->
    <!--</ion-toolbar>-->
</ion-header>

<ion-content class="forum forum-detail">

    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉加载"
                refreshingSpinner="circles"
                refreshingText="加载中...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="type =='left'">
        <ion-item class="b-lable" *ngFor="let item of fromMe">
            <ion-card>
                <ion-item>
                    <ion-avatar item-left>
                        <img src="{{item.photo||'assets/images/marty-avatar.png'}}">
                    </ion-avatar>
                    <div>
                        <div style="position: relative;">
                            <h2>{{item.nickname}}</h2>
                        </div>
                        <p class="time">{{item.commDatetime|forumDate}}</p>
                        <ion-card-content>
                            <div class="comment-div1">{{item.content}}</div>
                        </ion-card-content>
                    </div>
                </ion-item>
            </ion-card>
        </ion-item>
    </ion-list>


    <ion-list *ngIf="type =='right'">
        <ion-item class="b-lable" *ngFor="let item of toMe">
            <ion-card>
                <ion-item>
                    <ion-avatar item-left>
                        <!--<img (src)="assets/images/marty-avatar.png">-->
                        <img [src]="item.post.pic">
                    </ion-avatar>
                    <div>
                        <div style="position: relative;">
                            <h2>{{item.post.nickname}}</h2>
                        </div>
                        <p class="time">{{item.post.commDatetime|forumDate}}</p>
                        <ion-card-content>
                            <!--<div class="comment-div"><span>@asss</span>:改革春风吹满地，啦啦啦啦啦啦啦</div>-->
                            <div class="comment-div1">{{item.post.content}}</div>
                        </ion-card-content>
                    </div>
                </ion-item>
            </ion-card>
        </ion-item>
    </ion-list>





    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>


