<ion-header class="im-header">
  <ion-navbar color="navbar-color">
    <ion-title>
      消息列表
    </ion-title>
    <ion-buttons  end>
      <button (click)="searchFriend()" ><i class="iconfont">&#xe618;</i></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="im">
   <ion-list>
     <button ion-item style="background-color: white;" (click)="at()">
      <ion-avatar item-left>
        <img src="assets/images/mine/mine-msg-@.png">
      </ion-avatar> <span>提到我的</span>
     </button>
     <button ion-item style="background-color: white;" (click)="goComment()">
      <ion-avatar item-left>
        <img src="assets/images/mine/mine-msg-comment.png">
      </ion-avatar> <span>评论</span>
     </button>
     <button ion-item style="background-color: white;" (click)="goSystemMsg()" >
      <ion-avatar item-left>
        <img src="assets/images/mine/mine-msg-system-msg.png">
      </ion-avatar> <span>系统消息</span>
     </button>
   </ion-list>

  <h6 *ngIf="imServe.listOfOpposite.length <= 0" style="padding-left: 40px;">暂无消息</h6>

  <!--<div>最近联系人</div>-->
  <!--<ion-item style="background-color: white">-->
    <!--<ion-avatar item-left>-->
      <!--<img src="assets/images/marty-avatar.png">-->
    <!--</ion-avatar>-->
    <!--<h2>Cher</h2>-->
  <!--</ion-item>-->

  <ion-list>

    <div class="chat-list-outer"  (click)="goChatRoom(msgItem)"
            *ngFor="let msgItem of imServe.listOfOpposite" >

      <div class="chat-list-item" >
        <div class="headImg">
          <img [src]="msgItem.photo||'assets/images/marty-avatar.png'">
          <div class="badge" *ngIf="msgItem.showBadge">{{(msgItem.badgeCount > 99) ? '99+' : msgItem.badgeCount}}</div>
        </div>
        <div class="chat-item-content">
          <h2>{{msgItem.nickname || msgItem.userId}}</h2>
        </div>
      </div>
    </div>

  </ion-list>
</ion-content>
