.jfDetail{

  .jf-detail-outer{
    background-color: white;
    min-height: 45px;
    background-color: white;
    align-items: center;
    padding: 5px 10px;
    display: flex;

    border-bottom: 0.7px solid $line-color;

    div{

      flex: 0 0 33%;

    }
    .add-jf{
      font-size: 16px;
      color: $navbar-color;
    }
  }

}