// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/home/home";
@import "../serve/serve";
//好友列表
@import "../pages/friend/friend";
@import "../pages/friend/addFriend";

//im
@import "../pages/im/chat-room";
@import "../pages/im/im";

//kefu
@import "../pages/kefu/nextpage";

//注册界面
@import "../pages/user/login";
@import "../pages/user/register";
@import "../pages/user/forgetPwd";

//我的
@import "../pages/mine/mine";

//自定义组件
@import "../components/cd-component.core";

.ion-ios-default-user,
.ion-ios-default-user-outline,
.ion-md-default-user{
  //../../images/default-user.jpg

  content: url('http://img0.imgtn.bdimg.com/it/u=4089831543,2621363273&fm=21&gp=0.jpg');
  height: 30px;
  //padding: 0px 4px 2px;
  //margin: 5px;
  opacity: 0.9;
}


@mixin flex{
  display: flex;
}

@mixin align-items($name){
  align-items: $name;
  -webkit-align-items: $name;
}


/*可提供默认参数，也可无*/
@mixin color($defaultColor:green){
  background-color: $defaultColor;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.test{
  @include flex;
  @include color(red);
  @include align-items(center);
}

/*支持属性嵌套*/
//　　p {
//  　　　　border: {
//    　　　　　　color: red;
//    　　　　}
//  　　}
