<ion-header>
  <ion-navbar>
    <ion-title>好友列表</ion-title>
    <ion-buttons end>
      <button (click)="addFriend()" >
        <ion-icon name="add" whiteo></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  class="friend">
  <ion-toolbar no-border-top>
    <ion-searchbar (ionInput)="searchAction()" placeholder="搜索"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
  <!--好友请求的列表-->
  <ion-item-group>

    <button ion-item no-lines detail-none style="border-top: 1px solid lightgray; background-color: white" (click)="lookFriendAsk()">
      <div *ngIf="imServe.listOfFutureFriend.length > 0" class="new-friend-badge"></div>
      <div  class="friend-list-item">
        <div class="icon">
          <img src="images/u1.jpg">
        </div>
        <p>新的朋友</p>
      </div>
    </button>

    <!--<div class="friend-list-item" (click)="lookFriendAsk()">-->
      <!--<div class="icon">-->
        <!--<img src="images/u1.jpg">-->
      <!--</div>-->
      <!--<p>新的朋友</p>-->
    <!--</div>-->
  </ion-item-group>


    <ion-item-group >
      <ion-item-divider style="height: 20px; ">好友列表</ion-item-divider>
      <ion-item [hidden]="imServe.listOfFriend.length > 0"><h2>暂无好友</h2></ion-item>

      <ion-item-sliding *ngFor="let friendItem of imServe.listOfFriend">
        <button class="n-button" ion-item no-lines detail-none style="border-top: 1px solid lightgray; background-color: white" (click)="goChat(friendItem.name)">
          <div class="friend-list-item" >
            <div class="icon">
              <img src="images/u1.jpg">
            </div>
            <p>{{friendItem.name}}</p>
          </div>
        </button>
        <ion-item-options>
          <button danger (click)="deleteFriend(friendItem.name)">删除好友</button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>
</ion-content>
