
$percentage: 85%;

.login {

  input {
    display: block;
    //border: 2px solid cyan;
    width: $percentage;
    height: 40px;
    margin: 0 auto;
  }

  .userNameInput{
    margin-top: 90px;
    margin-bottom: 2px;
  }
  .pwdInput{

  }


  .registerAndLogin{

     width: $percentage;
     margin: 0px auto;
     text-align: right;
     //background-color: green;
     font-size: 10px;

    .registerBtn, .findPwdBtn {
      background-color: orange;
      color: white;
      height: 30px;
    }

  }

  .loginBtn {
    //background-color: $theme-color;
    height: 40px;
    width: $percentage;
    margin: 0 auto;
    margin-top: 10px;
  }

}
