$percentage: 85%;

.register {

  //background-color: $background-color;
  text-align: center;

  .captcha-view{
    background-color: red;
    margin-bottom: 10px;
  }

  .userNameInput, .pwdInput, .rePwdInput {
    display: block;
    width: $percentage;
    height: 40px;
    margin: 0 auto;
  }

  .userNameInput {
    margin-top: 40px;
    margin-bottom: 2px;
  }

  .pwdInput, .rePwdInput {

    margin-top: 2px;
  }

  .img-captcha{
    margin: 0px auto;
    margin-top: 2px;
    display: block;

    height: 40px;

    width: $percentage;
    input{
      margin: 0 auto;
      width: 70%;
      height: 40px;
      vertical-align: middle;
    }

    img{
      margin-left: 1%;
      height: 100%;
      vertical-align: middle;
      width: 29%;
    }

  }


  .register-btn {
    height: 40px;
    width: $percentage;
    margin: 0 auto;

    //background-color: $theme-color;
    color: white;
    margin-top: 30px;
  }

  .back-login{
    width: $percentage;
    margin: 0 auto;
    display: flex;
    margin-top: 5px;
    //justify-content: flex-end;
    align-items: center;
    height: 20px;
    button{
      background-color: $background-color;
      color: $theme-color;
      height: 100%;
      font-size: 14px;
    };
  }

  .protocol{
    margin: 0 auto;
    margin-top: 20px;
    width: $percentage;
    display: flex;
    //justify-content: flex-end;
    align-items: center;
    height: 20px;
  }

}
