.chatroom {
  padding-bottom: 300px;
  background-color: lightgray;

  .imContent {
    flex:1;

    padding: 10px;
    max-width: 100%;
    background-color: yellow;
    div{
      background-color: green;
      //我发送消息
      .mine {
        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
        div {
          text-align: left;
          margin: 0px;
          max-width: 40%;
          min-width: 60px;
          min-height: 35px;
          padding: 7px;
          display: inline-block;
          border: 2px solid yellow;
          background-color: green;
        }
      }
      //对方发送消息
      .other{
        text-align: right;
        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
        div {
          text-align: left;
          margin: 0px;
          max-width: 40%;
          min-width: 60px;
          min-height: 35px;
          padding: 7px;
          display: inline-block;
          border: 2px solid yellow;
          background-color: green;
        }
      }
    }
  }




  /*底部输入框*/
  .bootomInput {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    //position: absolute;
    //margin-bottom: 0px;
    //margin-top: 500px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: cyan;

    ion-input {

      border: 2px solid yellow;
      width: 70%;
      margin-left: 20px;
      font-size: 15px;
      height: 40px;
    }

    button {
      margin-left: 20px;
    }

  }



}
