<ion-header>
  <ion-navbar>
    <ion-title>
      橙袋
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="im">

  <ion-list>
    <div class="chat-list-outer"  (click)="goChatRoom(msgItem)"
            *ngFor="let msgItem of imServe.listOfOpposite" >
      <!---->
      <div class="badge" *ngIf="msgItem.showBadge">{{(msgItem.badgeCount > 99) ? '99+' : msgItem.badgeCount}}</div>
      <!---->
      <div class="chat-list-item" >
        <div class="headImg">
          <img src="http://img1.touxiang.cn/uploads/20131103/03-030932_368.jpg">
        </div>
        <div class="chat-item-content">

          <h2>{{msgItem.from}}</h2>
          <p>{{msgItem.lastMsg}}</p>
        </div>
        <div class="chat-item-left">
          <p>{{msgItem.time}}</p>
        </div>
      </div>

    </div>

  </ion-list>
</ion-content>
