
.city-choose-header{
  .search-input-outer{
    position: relative;
    background-color: white;
    padding: 0px;
    padding-bottom: 7px;
    display: flex;
  }
  i{
    display: inline-block;
    line-height: 30px;
    left: 20px;
    position: absolute;
    bottom: 13px;
  }
  input{
    flex: 1;
    padding-left: 30px;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    height: 40px;
    border: 0;
    border-bottom: 1px solid $line-color;
  }
  button{
    &:active{
      background-color: gainsboro;
    }
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border: 1px solid $line-color;
    border-radius: 4px;
    display: inline-block;
    //line-height: 35px;
    width: 15%;
    max-height: 35px;
    flex: 0 0 55px;
    //max-height: 80%;
    font-size: 18px;
    margin: 0px 10px;
  }

}


.city-choose{

  ion-item-divider{
    padding-left:  20px;
    //margin: 10px 0px;
    min-height: 30px;
    border: 0;
    *{
      margin: 0px;
      font-size: 17px;
    }
  }

  .city-cell{

    &:active{
      background-color: darkgrey;
    }
    line-height: 32px;
    font-size: 17px;
    padding: 2px 0 2px 20px;
    background-color: white;
  }


}
