<ion-header class="headline-header">
  <ion-navbar navbar-color>
    <ion-buttons>
      <button (click)="search()">
          <i class="icon iconfont">&#xe601;</i>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-buttons >
        <button style="font-size: 20px" (click)="chooseCity()">
          {{cityS.currentCity.name}}
          <ion-icon name="arrow-down" style=" padding-left: 3px; padding-top: 3px;">
        </ion-icon>
        </button>
      </ion-buttons>
    </ion-title>
    <ion-buttons end>
      <button (click)="writeArticle()">
          <i class="icon iconfont">&#xe616;</i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="headline">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="正在加载">
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides [style.height]="bannerHeight" [options]="mySlideOptions">
    <ion-slide *ngFor="let banner of cityS.headlineData.banner" (tap)="goOther(banner.url)">
      <!--<div class="banner-content"></div>-->
      <img src={{banner.pic}}>
      <div class="banner-title">{{banner.title}}</div>
    </ion-slide>
  </ion-slides>

  <div class="content">
    <div class="three-func">
      <div class="outer" [style.width]="h3w" [style.height]="h3h" *ngFor="let func of cityS.headlineData.func3" >
        <img class="func" src={{func.pic}} [style.width]="h3w" [style.height]="h3h" (tap)="goOther(func.url,func.title)">
        <div class="func3-title">{{func.title}}</div>
      </div>
    </div>

    <div class="eight-func">
      <div class="eight-inner-div" *ngFor="let func of cityS.headlineData.func8">
        <div class="func"  [style.height]="h8" [style.width]="h8"
             (tap)="goOther(func.url,func.title)">
          <img src={{func.pic}}>
          <div class="func8-title">{{func.title}}</div>
        </div>
      </div>
    </div>

    <div class="article">
      <div class="article-row">
        <div class="left-img"></div>
        <div>
          <div class="article-title">网曝某学校中学生竟吃路边摊,孩子的健康谁来管？</div>
          <div class="article-date">2016-05-12</div>
          <div class="focuse-count">1200</div>
        </div>
      </div>
      <div class="article-row">
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
