
$banner-text-height: 40px;
$text-color: rgb(75,76,77);

.headline {
  *{
    margin: 0px;
    padding: 0px;
    color: $text-color;
  }

  .banner-content {
    background-image:url("http://pic22.nipic.com/20120621/10381980_112950399193_2.jpg");
    height: 100%;
    background-size: cover;
    background-color: green;
  }

  .banner-title {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    line-height: $banner-text-height;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: white;
    text-align: left;
    padding-left: 15px;
    //vertical-align: center;
  }

  .content {
    padding: 10px 10px;

    $line-color: lightgrey;

    @mixin func-common{
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      margin-bottom: 10px;
      flex-wrap: wrap;
    }
    /*三个功能*/
    .three-func {
      @include func-common;
      .func {
        text-align: center;
        color: white;
        font-size: 20px;
        border-radius: 4px;
        border: 1px solid $line-color;
        background-color: cyan;
        flex: 0 0 31.9%;
        background: url("https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D200/sign=16fda4b766d0f703f9b292dc38fb5148/b3119313b07eca80f9d6cb47952397dda04483bb.jpg") center;
        line-height: 45px;
      }
    }
    /*八个功能*/
    .eight-func {

      @include func-common;

      .func {
        margin-bottom: 5px;
        flex: 0 0 24%;
        border-radius: 4px;
        border: 1px solid $line-color;
        text-align: center;

        div{
          //background-color: red;
          margin: 20% 25%;
          height: 70%;
          text-align: center;
          img{
            width: 100%;
          }
          .func8-title{
            margin: 0px;
            width: 100%;
            color: rgb(112,112,113);
            margin-top: 5px;
            font-size: 16px;
            height: 20px;
            //background-color: orange;
          }

        }

      }

    }

    /*文章*/
    .article{
      padding: 0px;

      .article-row{
        border-top: 1px solid $line-color;
        height: 105px;
        padding: 12.5px 0px;
        display: flex;

        .left-img{
          margin-right: 10px;
          height: 100%;
          flex: 0 0 110px;
          background: url("https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D200/sign=16fda4b766d0f703f9b292dc38fb5148/b3119313b07eca80f9d6cb47952397dda04483bb.jpg") center;
        }

        div{
          position: relative;
          padding: 5px 0;
          //width: 70%;
          flex: 1;
          overflow: hidden;
          //white-space:nowrap;
          text-overflow:ellipsis;
          //background-color: red;

          .article-title{
            font-size: 18px;
            width: 100%;
            height: 50px;
            //background-color: green;
          }

          .article-date{
            position: absolute;
            left: 0px;
            color: darkgrey;
          }

          .focuse-count{
            text-align: right;
            width: 30%;
            position: absolute;
            right: 0px;
            color: darkgrey;
          }
        }

      }

    }

  }

}

/*banner pager*/
.swiper-container-horizontal > .swiper-pagination {
  padding-right: 10px;
  text-align: right;
  bottom: 13px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $navbar-color;
}
