<ion-header class="forum-head">
  <ion-navbar color="navbar-color">
    <ion-title>板块管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forum forum-detail">
    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="check">审查</ion-segment-button>
        <ion-segment-button value="management">管理</ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">

        <!--帖子相关-->

        <div *ngSwitchCase="check">


        <ion-list>
            <ion-refresher (ionRefresh)="doRefresh($event)" class="no-abs">
                <ion-refresher-content
                        pullingIcon="arrow-dropdown"
                        pullingText="下拉加载"
                        refreshingSpinner="circles"
                        refreshingText="加载中...">
                </ion-refresher-content>
            </ion-refresher>

            <ion-item *ngFor="let item of items;">
                <forum-cell
                        [item]="item"
                        [navCtrl]="nav"
                        [isHideCom]=true
                        [isHideComBtn]=true
                        (articleDetailEmitter)="openPage($event)"
                >

                </forum-cell>
                <ion-buttons class="clearfix">
                    <button ion-button>通过</button>
                    <button ion-button>删除</button>
                    <button ion-button>忽略</button>
                </ion-buttons>
            </ion-item>

            <ion-infinite-scroll (ionInfinite)="doAppendData($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-list>
        </div>

        <!--板块选择-->
        <div *ngSwitchCase="management">
            <ion-refresher (ionRefresh)="doRefresh($event)" class="no-abs">
                <ion-refresher-content
                        pullingIcon="arrow-dropdown"
                        pullingText="下拉加载"
                        refreshingSpinner="circles"
                        refreshingText="加载中...">
                </ion-refresher-content>
            </ion-refresher>

            <ion-item *ngFor="let item of items;">
                <forum-cell
                        [item]="item"
                        [navCtrl]="nav"
                        [isHideCom]=true
                        [isHideComBtn]=true
                        (articleDetailEmitter)="openPage($event)"
                >

                </forum-cell>
                <ion-buttons class="clearfix">
                    <button ion-button>精华</button>
                    <button ion-button>置顶</button>
                    <button ion-button>锁帖</button>
                    <button ion-button>删除</button>
                </ion-buttons>
            </ion-item>

            <ion-infinite-scroll (ionInfinite)="doAppendData($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>

    </div>
</ion-content>



