<ion-header class="forum-head">
  <ion-navbar color="navbar-color">
    <ion-title>板块管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forum forum-detail">
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉加载"
                refreshingSpinner="circles"
                refreshingText="加载中..."
        >
        </ion-refresher-content>
    </ion-refresher>

    <div class="p8 clearfix">
        <table class="wp100">
            <tr>
                <td rowspan="2"><img class="fl" src="assets/images/marty-avatar.png"/></td>
                <td>板块名称</td>
                <td>置顶：44</td>
            </tr>
            <tr>
                <td>帖子数：456</td>
                <td>精华：22</td>
            </tr>
        </table>
    </div>

    <ion-segment [(ngModel)]="segment" class="p8">
        <ion-segment-button value="isCheck">审查</ion-segment-button>
        <ion-segment-button value="management">管理</ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">
        <!--帖子相关-->
        <div *ngSwitchCase="'isCheck'">
            <ion-list>
                <ion-item *ngFor="let item of items;">
                    <forum-cell
                            [item]="item"
                            [navCtrl]="navCtrl"
                            [isHideCom]=true
                            [isHideComBtn]=true
                    ></forum-cell>
                    <ion-buttons class="clearfix">
                        <button class="fr" (clicl)="ignore()" ion-button>忽略</button>
                        <button class="fr" (clicl)="delete()" ion-button>删除</button>
                        <button class="fr" (clicl)="pass()" ion-button>通过</button>
                    </ion-buttons>
                </ion-item>
            </ion-list>
        </div>

        <!--板块选择-->
        <div *ngSwitchCase="'management'">
            <ion-item *ngFor="let item of items;">
                <forum-cell
                        [item]="item"
                        [navCtrl]="navCtrl"
                        [isHideCom]=true
                        [isHideComBtn]=true
                ></forum-cell>
                    <ion-buttons class="clearfix">
                        <button class="fr" (clicl)="delete()" ion-button>删除</button>
                        <button class="fr" (tap)="essence()"ion-button>精华</button>
                        <button class="fr" (tap)="top()" ion-button>置顶</button>
                        <button class="fr" (tap)="lock()"ion-button>锁帖</button>
                    </ion-buttons>
            </ion-item>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>



