.bzPlatDetail{



  .op-btn{
      color: $navbar-color;
      background-color: white;
      padding: 5px 8px;
      font-size: 16px;
      border: 1px solid $navbar-color;
      span{
        padding: 0px;
      }
    }


  .segment-outer{

    padding: 0;
    text-align: center;
    border-bottom: 1.5px solid rgb(240,240,240);
    border-top: 15px solid rgb(240,240,240);

    ion-segment{
      padding: 0px;
      width: 70%;
      margin: 0 auto;
    }
  }

  .segment-ios .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 3.2rem;
    border: 1px solid white;
    background-color: white;
    border-radious: 0;
    margin: 0px 50px;
    font-size: 1.5rem ;
    line-height: 3rem;
    color: $navbar-color;
    background-color: transparent;
  }

  .segment-ios .segment-button.segment-activated {
    //color: #fff;
    color: $navbar-color;
    background-color: white;
    border-bottom: 1.5px solid $navbar-color;
    opacity: 1;
    transition: 100ms all linear;
  }

  .segment-ios .segment-button:first-of-type {
    margin-right: 0;
    border-radius: 0px;
    margin-right: 30px;
  }
  .segment-ios .segment-button:last-of-type {
    margin-left: 30px;
    border-left-width: 0;
    border-radius: 0px;
  }

  ion-item{
    border-bottom: 1px solid $line-color;
  }
  .article-bottom-line{
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: $line-color;
  }

}