<ion-header class="forum-head">
  <ion-navbar color="navbar-color">
    <ion-title>板块管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forum forum-detail bzPlatDetail">
    <ion-refresher (ionRefresh)="refresh()">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉加载"
                refreshingSpinner="circles"
                refreshingText="加载中..."
        >
        </ion-refresher-content>
    </ion-refresher>
<div style="background-color: white;">
    <div class="p8 clearfix">
        <table class="wp100">
            <tr>
                <td rowspan="2"><img class="fl" [src]="plate.pic" style="width: 80px; height: 80px; "/></td>
                <td>名称：{{plate.name}}</td>
                <td>置顶：{{plate.zdCount}}</td>
            </tr>
            <tr>
                <td>帖子数：{{plate.allPostCount}}</td>
                <td>精华：{{plate.jhCount}}</td>
            </tr>
        </table>
    </div>

    <div class="segment-outer">
        <ion-segment [(ngModel)]="segment" class="p8" style="margin: 0 auto;">
            <ion-segment-button value="isCheck">审查</ion-segment-button>
           <span>     </span>
            <ion-segment-button value="management">管理</ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="segment">
        <!--帖子相关-->
        <div *ngSwitchCase="'isCheck'">
            <ion-list>
                <ion-item *ngFor="let item of pageDataService.items;">
                    <forum-cell
                            [item]="item"
                            [navCtrl]="navCtrl"
                            [isHideCom]=true
                            [isHideComBtn]=true
                    ></forum-cell>
                    <!--<ion-buttons class="clearfix">-->
                        <button class="fr op-btn" (click)="ignore(item)" ion-button>忽略</button>
                        <button class="fr op-btn" (click)="delete(item)" ion-button>删除</button>
                        <button class="fr op-btn" *ngIf="item.status == 'C1' || item.status == 'C2'" (click)="pass(item)" ion-button>通过</button>
                    <!--</ion-buttons>-->
                </ion-item>
            </ion-list>
        </div>

        <!--板块选择-->
        <div *ngSwitchCase="'management'">
            <ion-item *ngFor="let item of pageDataService.items;">
                <forum-cell
                        [item]="item"
                        [navCtrl]="navCtrl"
                        [isHideCom]=true
                        [isHideComBtn]=true
                ></forum-cell>
                    <!--<ion-buttons class="clearfix">-->
                        <button class="fr op-btn" (click)="delete(item)" ion-button>删除</button>
                        <button class="fr op-btn" *ngIf="item.location != 'B'"  (click)="essence(item)" ion-button>精华</button>
                        <button class="fr op-btn" *ngIf="item.location != 'A'"  (click)="top(item)" ion-button>置顶</button>
                        <button class="fr op-btn" *ngIf="item.isLock == '1'" (click)="lock(item)" ion-button>解锁</button>
                        <button class="fr op-btn" *ngIf="item.isLock == '0'" (click)="lock(item)"ion-button>锁帖</button>
                    <!--</ion-buttons>-->
            </ion-item>
        </div>
    </div>
</div>
    <ion-infinite-scroll (ionInfinite)="loadMore()">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>



