<ion-header class="forum-head">
  <ion-navbar color="navbar-color">
        <ion-title>板块名称</ion-title>
        <ion-buttons end>
            <button class="nav-bar-item-btn">
                <!--<ion-icon name="search"></ion-icon>-->
                <i class="icon iconfont">&#xe601;</i>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button class="nav-bar-item-btn">
                <!--<ion-icon name="create"></ion-icon>-->
                <i class="icon iconfont">&#xe616;</i>
            </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="forum forum-detail">
    <div id="ylImg1" class="mask hidden" (click)="closeImg();">
        <div>
            <div class="wrapper">
                <div class="scroller" [style.line-height]="pHeight">
                    <img id="yl-img1"/>
                </div>
            </div>
        </div>

    </div>

    <div class="clearfix bg_fff">
        <div class="plr10 ptb10 fl wp30"><img [src]="plat.pic"/></div>
        <div class="pl10 ptb10 fl wp70">
            <div>{{plat.name}}</div>
            <div class="dt-div">主题：<span class="pr20">??</span>今日：<span>???</span></div>
        </div>
    </div>
    <!--置顶-->
    <div>
        <ion-list class="dt-list">
            <ion-item *ngFor="let item of platService.topArticels" (tap)="goArticleDetail(item)">
                <button>置顶</button>
                <div class="ml30 inblock">{{item.content}}</div>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="topLoadMoreHidden" class="ptb10 tc bg_fff" (tap)="loadModeTopArticle()">更多</div>


    <!--其他-->
    <div class="bg_fff mt20">
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="all" (ionSelect)="changeType($event)">
                全部
            </ion-segment-button>
            <ion-segment-button value="new" (ionSelect)="changeType($event)">
                最新
            </ion-segment-button>
            <ion-segment-button value="essence" (ionSelect)="changeType($event)">
                精华
            </ion-segment-button>
        </ion-segment>
    </div>


        <ion-list >
            <div  *ngFor="let item of platService.tempArticles">
                <forum-cell
                        [item]="item"
                        (articleDetailEmitter)="goArticleDetail(item)"
                >
                </forum-cell>
            </div>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="加载更多...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

</ion-content>


