.forum-detail{
    .item .item-inner ion-label ion-card .item{
        border-bottom: 0px;
    }
    .item .item-inner ion-label ion-card .content-btn{
        border: 1px solid #e6e6e6;
        padding: 0px 10px;
        height: 2.4em;
    }
    ion-list{
        margin: 0;
    }
    .ptb10{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .com-btn{
        ion-buttons{
            margin: 0;
        }
        button {
            min-width: 0;
            margin-left: 0;
        }
        .button-icon-only ion-icon{
            padding: 0;
            font-size: 2rem;
            line-height: 1;
        }
    }
    scroll-content{
        background: #f0f0f0;
    }
    .dt-list{
        margin-bottom: 0;
        border-top: 1px solid #e6e6e6;
        ion-item{
            padding-left: 10px;
            padding-right: 10px;
            border-bottom: 1px solid #e6e6e6;
            button{
                width: 30px;
                background: #f64444;
                color: #fff;
                font-size: 1rem;
                vertical-align: middle;
            }
        }
    }
    .dt-div{
        font-size: 1rem;
        color: #666;
    }
    ion-list > .item:first-child{
        border-top: 0;
    }
    .pr20{
        padding-right: 20px;
    }
    .inblock{
        display: inline-block;
    }
    .tc{
        text-align: center;
    }
    .mt20{
        margin-top: 20px;
    }

    //
    .top{
        display: flex;
       align-content: center;
        align-items: center;
        background-color: white;
        padding: 15px 5px;
        font-size: 18px;
        border-bottom: 1px solid $line-color;
    }
    .top-div-outer{
        flex: 0 0 70px;
    }
    .top-div{
        width: 80%;
        text-align: center;
        vertical-align: middle;
        padding: 2px 4px;
        color: white;
        font-size: 13px;
        line-height: 20px;
        border-radius: 5px;
        background-color: $navbar-color;

    }
    .plat-name{
        padding: 4px 0px;
        font-size: 18px;
        color: $text-color;
    }
    .plat-info{
        padding: 2px 0px;
        font-size: 14px;

    }

    .top-content{
        font-size: 16px;
        vertical-align: middle;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        text-overflow: -o-ellipsis-lastline;
    }

}