
$banner-text-height: 40px;

.headline {
  *{
    margin: 0px;
    padding: 0px;
    color: $text-color;
  }
  background-color: white;

  .banner-content {
    background-image:url("http://pic22.nipic.com/20120621/10381980_112950399193_2.jpg");
    height: 100%;
    background-size: cover;
    background-color: green;
  }

  .banner-title {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    line-height: $banner-text-height;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: white;
    text-align: left;
    padding-left: 15px;
    //vertical-align: center;
  }

  .content {
    padding: 10px 10px;


    @mixin func-common{
      display: flex;
      display: -webkit-flex;
      //justify-content: space-between;
      align-content: flex-start;
      margin-bottom: 10px;
      flex-wrap: wrap;
    }
    /*三个功能*/
    .three-func {
      @include func-common;
      justify-content: space-between;

      .outer{
        text-align: center;
        position: relative;
      }

      .func {
        flex: 0 0 31.9%;
        margin-bottom: 4px;
      }
      .func3-title{
        position: absolute;
        //max-height: 60%;
        //top: 20%;
        //bottom: 20%;
        //vertical-align: middle;

        bottom: 20%;
        width: 100%;
        height: 60%;
        line-height: 20px;
        //background-color: red;
        font-size: 17px;
        //font-weight: bold;
        color: white;
      }
    }
    /*八个功能*/
    .eight-func {

      @include func-common;

      .eight-inner-div{
        flex: 0 0 25%;
      }
      .func {
        margin: 0 1.7px 5px 1.7px;
        //margin-left: 2.5px;
        //margin-bottom: 5px;
        //flex: 0 0 24%;
        border-radius: 4px;
        border: 1px solid $line-color;
        text-align: center;

          position: relative;

          img{
            position: absolute;
            top:20%;
            left: 30%;
            width: 40%;
            height: 40%;
          }

          .func8-title{
            position: absolute;
            top:60%;
            padding-top: 2px;
            overflow: hidden;
            width: 100%;
            color: rgb(112,112,113);
            font-size: 14px;
            height: 20px;
          }

      }

    }

    /*文章*/
    .article{
      padding: 0px;

      .article-row{
        border-top: 1px solid $line-color;
        height: 105px;
        padding: 12.5px 0px;
        display: flex;
        &:active{
          opacity: .5;
        }

        .left-img{
          margin-right: 10px;
          height: 100%;

          flex: 0 0 110px;
          width: 110px;
          //background: url("https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D200/sign=16fda4b766d0f703f9b292dc38fb5148/b3119313b07eca80f9d6cb47952397dda04483bb.jpg") center;
        }

        .text-outer{
          position: relative;
          padding: 3px 0 5px 0;
          //width: 70%;
          flex: 1;
          overflow: hidden;
          //white-space:nowrap;
          text-overflow:ellipsis;
          //background-color: red;

          .article-title{
            font-size: 18px;
            overflow: hidden;
            text-overflow:ellipsis;
            width: 100%;
            height: 50px;

            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            //background-color: green;
          }

          .article-date{
            position: absolute;
            left: 0px;
            color: darkgrey;
          }

          .focuse-count{
            text-align: right;
            width: 30%;
            position: absolute;
            right: 0px;
            color: darkgrey;
          }
        }

      }

    }

  }

}
.headline-header{
  .iconfont{
    margin: 0;
  }
}
/*banner pager*/
.swiper-container-horizontal > .swiper-pagination {
  padding-right: 10px;
  text-align: right;
  bottom: 13px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $navbar-color;
}
.ion-ios-default-user,
.ion-ios-default-user-outline,
.ion-md-default-user{

  content: url(../../images/tab-bar-xiaomi.png);
  height: 48px;
  width: 35px;
}
a.activated .ion-ios-default-user,
a.activated .ion-ios-default-user-outline,
a.activated .ion-md-default-user{
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
ion-tabs a{
  overflow: visible !important;
}

body, pre{
  font-family: Microsoft YaHei,'宋体',Tahoma,Arial,sans-serif;
}
