.search_user_list {
    width: 100%;
    background-color: white;
    margin-bottom: 1rem;

    ul {
        width: 100%;
        border-top: 1px solid #cdcdcd;

        li {
            border-bottom: 1px solid #cdcdcd;
            height: 1.38rem;
            font-size: 0;
            position: relative;

            img {
                height: 0.936rem;
                width: 0.936rem;
                border-radius: 50%;
                position: absolute;
                top: 0.19rem;
                left: 0.3rem;
            }

            .userName {
                position: absolute;
                top: 0.28rem;
                left: 1.521rem;
                font-size: 0.3042rem;
                color: #d23e3e;
            }

            .userFansNum {
                position: absolute;
                bottom: 0.35rem;
                left: 1.521rem;
                color: #999;
                font-size: 0.21rem;
                span{
                    color: #999;
                }
            }
        }
    }
}
