    <div class="ltan clearfix" style="background-color: white;">

        <div class="lt-left fl wp30 bg_f0">
            <ul>
                <li #firstClass style="background-color: white"
                    *ngFor="let item of firstClassItem" (tap)="selectClass($event,item)">
                    {{item.name}}
                </li>

                <li *ngFor="let item of _classification;" (tap)="selectClass($event,item)">{{item.name}}
                </li>
            </ul>
        </div>

        <!--右侧-->
        <div class="lt-right fl wp70 bg_fff " style="height: 100%;  background-color: #ffffff;">

            <div *ngIf="currentPlats.length <= 0" style="font-size: 1px; text-align: center; font-size: 16px; padding-top: 50px;padding-bottom: 50px; background-color: rgba(0,0,0,0); height:100%;">
                该分类暂无板块
            </div>
            <div class="part1 plr10">

                <!--<button (click)="goPlate('dd')">去详情</button>-->
                <ul>
                    <li class="clearfix" *ngFor="let plate of currentPlats" (click)="goPlate(plate)">
                        <div class="plate-info-outer">

                            <div class="left">
                                <img [src]="plate.pic" style="height: 60px; width: 60px;">
                            </div>

                            <div class="middle">
                                <div class="plat-name">{{plate.name}}</div>
                                <div class="plat-info">
                                    <i class="icon iconfont plat-info-size">&#xe624;</i>
                                    <span>{{plate.dzCount}}</span>
                                    <i class="icon iconfont plat-info-size">&#xe610;</i>
                                    <span>{{plate.plCount}}</span>
                                </div>
                            </div>

                            <div class="right">
                               <button>进入</button>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>