    <div class="ltan">

        <div class="lt-left fl wp30 bg_f0">
            <ul>
                <li #firstClass style="background-color: white"
                    *ngFor="let item of firstClassItem" (tap)="selectClass($event,item)">
                    {{item.dvalue}}
                </li>

                <li *ngFor="let item of _classification;" (tap)="selectClass($event,item)">{{item.dvalue}}
                </li>
            </ul>
        </div>

        <!--右侧-->
        <div class="lt-right fl wp70 bg_fff" style="background-color: #ffffff; height: 100%;">
            <div *ngIf="currentPlats.length <= 0" style="font-size: 1px; text-align: center; font-size: 16px; padding-top: 50px;">该分类暂无板块</div>
            <div class="part1 plr10">

                <!--<button (click)="goPlate('dd')">去详情</button>-->
                <ul>
                    <li class="clearfix" *ngFor="let plate of currentPlats" (click)="goPlate(plate)">
                        <div class="fl wp30">
                            <img [src]="plate.pic" style="height: 65px; width: 65px;">
                        </div>
                        <div class="pl10 wp70 fl">
                            <div>{{plate.name}}</div>
                            <div class="com-btn">
                                <ion-buttons class="clearfix">
                                    <button class="fl">
                                        <i class="icon iconfont">&#xe624;</i>
                                        <span>{{plate.postCount}}</span>
                                    </button>
                                    <button class="fl ml10">
                                        <i class="icon iconfont">&#xe610;</i>
                                        <span>{{plate.personCount}}</span>
                                    </button>
                                </ion-buttons>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>