
.mine{

  background-color: $background-color;

  *{
    color: $text-color;
  }
  .acc-mobile{
    .item-inner{
      background-image: none;
    }
  }
  .login-register-outer{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

    button{
      color: white;
      border-radius: 5px;
      font-size: 16px;
      height: 35px;
      background-color: $navbar-color;
      flex: 0 0 40%;
    }
  }
  .panel-top{
    height: 200px;
    background-color: white;
    padding: 0px 10px;
    border-bottom: 1px solid $line-color;

    /*头像及按钮*/
    .avatar-detail{

      display: flex;
      height: 130px;
      //background-color: green;
      position: relative;
      align-items: center;
      .avatar{
        margin: 0 20px 0 25px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        img{
          height: 80px;
          width: 80px;
        }
      }

      .title-outer{
        .name{
          font-size: 16px;
          color: $text-color;
        }
        .title{
          margin-top: 2px;
          font-size: 11px;
          color: gray;

        }
      }
      button{
        background: white;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -1.4em;
      }

    }

    .forum-data{
      border-top: 1px solid $line-color;
      height: 60px;
      //background-color: cyan;
      display: flex;
      .forum-data-cell{
        //background-color: orange;
        text-align: center;
        flex: 0 0 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .count{
          padding-top: 3px;
          //background-color: red;
          font-size: 20px;
          margin-bottom: 5px;
        }
        .name{
          font-size: 10px;
        }
      }

    }


  }

  ion-list{
    button{
      background-color: white;

    }
    i{
      //background-color: red;
      margin-top: -1px;
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px 0 5px;
      font-style: normal;
    }
    span{
      //background-color: red;
      display: inline-block;
      vertical-align: middle;
    };
    .badage{
      position: absolute;
      background-color: red;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 9px;
      left: 38px;
    }
  }

}
