<ion-header>
  <ion-navbar color="navbar-color">
    <!--<ion-buttons>-->
      <!--<button *ngIf="!userService.userId" (click)="goLogin()">登陆</button>-->
    <!--</ion-buttons>-->
    <ion-title>我的</ion-title>
    <!--<ion-buttons end>-->
      <!--<button *ngIf="!userService.userId" (click)="goRegister()">注册</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content class="mine">

  <!--登陆之前-->
  <div class="login-register-outer" *ngIf="!userService.user">
     <button class="login-btn" (click)="goLogin()">登陆</button>
     <button class="register-btn" (click)="goReg()">注册</button>
  </div>

  <!--登陆之后显示-->


  <ion-refresher *ngIf="userService.user" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉加载"
            refreshingSpinner="circles"
            refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="userService.user">
  <!--顶部-->
  <div class="panel-top">
    <div class="avatar-detail" (click)="goDetail()">
      <div class="avatar"><img src="{{userService.user.userExt?.photo || 'assets/images/marty-avatar.png'}}"/></div>
      <div class="title-outer">
        <div class="name" id="nickname">{{userService.user.nickname}}</div>
        <div class="title" >{{userService.user.levelName}}</div>
      </div>
      <button ><ion-icon name="arrow-forward" text-color ></ion-icon></button>
    </div>

    <div class="forum-data">
      <div class="forum-data-cell" (click)="goTZList()">
        <div class="count">{{userService.totalPostNum}}</div>
        <div class="name">帖子</div>
      </div>
      <div class="forum-data-cell" (click)="goRelationList('follow')">
        <div class="count">{{userService.user.totalFollowNum}}</div>
        <div class="name">关注</div>
      </div>

      <div class="forum-data-cell" (click)="goRelationList('fans')">
        <div class="count">{{userService.user.totalFansNum}}</div>
        <div class="name">粉丝</div>
      </div>

      <div class="forum-data-cell">
        <div class="count">{{userService.user.amount}}</div>
        <div class="name">赏金</div>
      </div>
    </div>

  </div>
  <!--设置-->
  <div class="panel-content"></div>
  <!--<ion-list-header style="height: 10px">-->
  <!--</ion-list-header>-->


  <ion-item-divider style="height: 10px">
  </ion-item-divider>

  <ion-list >
    <button ion-item (click)="goMineProperty()">
      <i class="iconfont">&#xe608;</i><span>我的物品</span>
    </button>
    <button ion-item (click)="goCollect()">
      <i class="iconfont">&#xe60e;</i><span>我的收藏</span>
    </button>
    <button ion-item (click)="goDraft()">
      <i class="iconfont">&#xe613;</i><span>草稿箱</span>
    </button>
    <button ion-item (click)="goChat()" style="position: relative;" >
      <div class="badage" *ngIf="imService.msgTotalCount > 0"></div>
      <i class="iconfont">&#xe610;</i><span>我的消息</span>
    </button>
    <!--<button ion-item  (click)="goMyPlate()">-->

    <button ion-item (click)="goMyPlate()">
      <i class="iconfont">&#xe617;</i><span>我的板块</span>
    </button>
    <button ion-item (click)="goSetting()">
      <i class="iconfont">&#xe603;</i><span>设置</span>
    </button>
    <!--<button ion-item  (click)="loginOut()">-->
      <!--<i class="iconfont">&#xe617;</i><span>退出登录</span>-->
    <!--</button>-->
  </ion-list>

  <div style="text-align: center; height:50px; font-size:18px;">148484999999</div>
  </div>

</ion-content>
