.custom-tabbar{
  z-index: 100;
  //width: 100%;
  left: 0;
  right: 0;
  height: 51px;
  bottom: 0px;
  position: absolute;
  background-color: white;
  display: flex;

  a{
    position: relative;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px 2px;
    text-align: center;
    //margin: 0 auto;
    div{
      //height: 30px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .default-img{
      padding-top: 3px;
       height: 30px;
      width: auto;
       margin: 0 auto;
    }


    .default-title{
      align-self: center;
      -webkit-align-self: center;
      bottom: 1px;
      margin: 0 auto;
      text-align: center;
      padding-top: 1px;
      min-height: 16px;
      color: #4b4c4d;
      font-size: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;

    }

    .kf-img{

      display: block;
      width: auto;
      height: 57px;
      bottom: 0px;
    }
    .kf-div{
      position: absolute;
      bottom: 0px;
      height: 57px;
    }

    .kf-title{
      display: none;
    }
    .selected-title{
      color: $navbar-color;
    }

  }
  //.selectedTitle{
  //  color: $navbar-color;
  //}

}

//签到动画
#signin-mask{

  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  color: white;
  font-weight: 400;
  text-align: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 2s ease 1s;

  &:hover{
    opacity: 0;
  }

  div{
    font-size: 17px;
  }

  span{
    font-size: 21px;
    color: $navbar-color;
  }
  img{
    max-width: 70%;
    margin-top: 40%;
  }

}

@keyframes animation01 {
  from{
   top: 0px;
  }
  to{
    top: 600px;
  }
}


//图片浏览
.mask{
  position: fixed;
  margin: auto;
  overflow: hidden;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  .wrapper{
    float: left;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    .scroller{
      transform-origin: 0px 0px 0px;
      transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
      transition-duration: 0ms;
      transform: translate(0px, 0px) scale(1) translateZ(0px);
      img{
        max-width: 100%;
        vertical-align: middle;
        -webkit-transition: opacity .3s ease-out;
      }
    }
  }
}
.mask>div{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translate(0px, 0px) translateZ(0px);
}
.hidden {
  display: none !important;
}