<ion-tabs>

  <div class="custom-tabbar" *ngIf="cityS.tabbarItems.length > 4;">

    <a (tap)="selected(i,tabTitleSpan)" *ngFor="let item of cityS.tabbarItems;  let i = index;">
      <div style="text-align: center; width: 100%; " [class.kf-div]="item.url == 'page:xiaomi'">
        <img class="default-img" [class.kf-img]="item.url == 'page:xiaomi'" [src]="item.pic">
      </div>
      <span class="default-title"  #tabTitleSpan  [class.kf-title]="item.url == 'page:xiaomi'"  [class.selected-title]=" i==0" >{{item.name}}</span>
    </a>
    <!---->



  </div>


  <ion-tab [root]="tab1Root" tabTitle="头条" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="有料" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="default-user"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="视频" tabIcon="logo-youtube"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="我的" tabIcon="contact"></ion-tab>

</ion-tabs>


<div id="signin-mask" [style.display]="signinDisplay">
  <img [src]="signImgSrc">
  <div  [style.display]="signedDisplay">恭喜你今天获得了</div>
  <div [style.display]="signedDisplay"><span>{{addNum}}</span>赏金</div>
</div>

<div id="ylImg" class="mask hidden" (click)="closeImg()">
  <div>
    <div class="wrapper">
      <div class="scroller" [style.line-height]="pHeight">
        <img id="yl-img"/>
      </div>
    </div>
  </div>
</div>