.custom-tabbar{
  z-index: 100;
  //width: 100%;
  left: 0;
  right: 0;
  height: 51px;
  bottom: 0px;
  position: absolute;
  background-color: white;
  display: flex;

  a{
    position: relative;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px 2px;
    text-align: center;
    //margin: 0 auto;
    div{
      //height: 30px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .default-img{
       height: 30px;
      width: auto;
       margin: 0 auto;
    }


    .default-title{
      align-self: center;
      -webkit-align-self: center;
      bottom: 1px;
      margin: 0 auto;
      text-align: center;
      padding-top: 1px;
      min-height: 16px;
      color: #4b4c4d;
      font-size: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;

    }

    .kf-img{
      //margin: 0 auto;
      //height: 100px;
      display: block;

      width: 100%;
      height: auto;
      position: relative;
      bottom: 0px;
      //position: absolute;
      //bootom: 0px;
    }

    .kf-title{
      display: none;
    }

  }

}

//签到动画
#signin-mask{

  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  color: white;
  font-size: 30px;
  text-align: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 2s ease 1s;

  &:hover{
    opacity: 0;
  }
}

@keyframes animation01 {
  from{
   top: 0px;
  }
  to{
    top: 600px;
  }
}