<ion-header class="headline-header" class="city-choose-header" no-padding>
  <ion-navbar color="white-them">
    <div class="search-input-outer">
      <i class="icon iconfont">&#xe601;</i>
    <input #search class="search-city-input" placeholder="请输入城市名称或拼音首字母" (keyup)="searchCity(search.value)" (blur)="cancleSearch()">
      <a class="cancle" (click)="back()" white-them="">取消</a>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="city-choose">
  <ion-list *ngIf="!searching">

    <!--推荐站点-->
    <ion-item-group *ngIf="hidden">
      <ion-item-divider sticky *ngIf="cityS.recommendSite.length > 0">
        推荐站点
      </ion-item-divider>
      <div class="city-cell" (tap)="confirmCity(city)" *ngFor="let city of cityS.recommendSite">{{city.name}}</div>
    </ion-item-group>

    <!--当前城市-->
    <ion-item-group *ngIf="hidden">
      <ion-item-divider sticky>
        当前城市
      </ion-item-divider>
      <div class="city-cell" (tap)="confirmCity(city)">{{cityS.currentCity.name}}</div>
    </ion-item-group>

    <!--列表-->
    <ion-item-group *ngFor="let obj of cityS.citys">
      <ion-item-divider sticky>
        {{obj.letter}}
      </ion-item-divider>
      <div class="city-cell" (tap)="confirmCity(city)" *ngFor="let city of obj.data">{{city.name}}</div>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="searching">
    <div class="city-cell" *ngFor="let city of cityS.searchCitys" (tap)="confirmCity(city)">{{city.name}}</div>
  </ion-list>

</ion-content>
