<ion-header class="search-user-article" >

  <ion-navbar no-border-bottom color="navbar-color">
    <ion-title>
      <segment-view
              [leftTitle]="'用户'"
              [rightTitle]="'帖子'"
              (emitter)="changType($event)"
      ></segment-view>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="search-user-article forum">

  <div class="search-input-outer">
    <input id="search-user-article-input" #searchInput placeholder="请输入搜索关键词">
    <button class="search-btn" (click)="search(searchInput.value)">搜索</button>
  </div>

  <!--<div class="placeholder-div " *ngIf="result">-->
    <!--没有匹配的结果-->
  <!--</div>-->

  <div *ngIf="type == 'left'">
    <placeholder-view [show]="resultUser"></placeholder-view>
    <ion-list>
      <button ion-item *ngFor="let item of users" style="background-color: white;" (click)="goUserDetail(item)">
        <ion-avatar item-left>
          <img src="{{item.pic||'assets/images/marty-avatar.png'}}">
        </ion-avatar>
        <span>{{item.nickname}}</span>
      </button>
    </ion-list>
  </div>

  <div *ngIf="type == 'right'">
    <placeholder-view [show]="resultArticle"></placeholder-view>
    <ion-list>
      <ion-item *ngFor="let item of articles">

        <forum-cell
                [item]="item"
                [navCtrl]="navCtrl"
        >
        </forum-cell>

      </ion-item>
    </ion-list>
  </div>

</ion-content>
