<ion-header class="search-user-article" >

  <ion-navbar no-border-bottom color="navbar-color">
    <!--<ion-title>搜索</ion-title>-->
    <ion-title>
      <button #left [class.current-btn] = "show" class="left" (click)="leftClick()">用户</button>
      <button #right [ngClass]="{'current-btn': !show}" class="right" (click)="rightClick()">帖子</button>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="search-user-article">

  <div class="search-input-outer">
    <input id = "search-user-article-input" #searchInput placeholder="请输入搜索关键词">
    <button class="search-btn" (click)="search(searchInput.value)">搜索</button>
  </div>

  <div class="placeholder-div" *ngIf="result">
    没有匹配的结果
  </div>

  <forum-cell *ngFor="let item of articles"
         [item]="item">
  </forum-cell>

</ion-content>
