

.search-user-article{

  .left,.right{
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 20px;
    border: 1px solid white;
    background-color: $navbar-color;
    max-height: 35px;
    min-height: 35px;
    font-size: 16px;
    color: white;
    width: 45%;
    box-sizing: border-box;
  }

  .left{

    margin-right: -3px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .right{
    margin-left: -3px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

}

.search-user-article{
  background-color: white;

  .search-input-outer{
    display: flex;
    align-content: center;
    margin-top: 10px;

  }
  .search-btn{

    &:active{
      background-color: lightgray;
    }
    margin: 0px;
    position: absolute;
    background-color: $background-color;
    display: block;
    right: 5%;
    color: $text-color;
    height: 40px;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 1px solid $line-color;

  }
  #search-user-article-input{
    margin: 0 auto;
    width: 90%;
    border: 0px;
    padding-left: 20px;
    padding-right: 70px;
    background-color: $background-color;
    height: 40px;
    border-radius: 20px;
    display: block;
  }

}
