$percentage: 85%;

.forget-pwd {
  .button, .button.activated{
    background: #ce3f42;
  }
  //background-color: $background-color;
  text-align: center;
  .captcha-view{
    background-color: red;
  }

  .userNameInput, .pwdInput, .rePwdInput {
    display: block;
    width: $percentage;
    height: 40px;
    margin: 0 auto;
  }
  .button{
    height: 45px;
  }

  .userNameInput {
    margin-top: 40px;
    margin-bottom: 2px;
  }

  .pwdInput, .rePwdInput {
    margin-top: 2px;
  }
  .save-div{
    padding: 16px;
  }
  .capt-item button{
    width: 6em;
  }
  .register-btn {
    height: 50px;
    width: 100%;
    margin: 0 auto;

    //background-color: $theme-color;
    color: white;
  }
  ion-list > .item{
    padding-right: 16px;
  }
  ion-list > .item:first-child{
    border-top: none;
  }
  ion-list > .item:last-child{
    border-bottom: none;
  }
  ion-list > .item:last-child .item-inner{
    border-bottom: 1px solid #c8c7cc;
  }


}
