<ion-header>
  <ion-navbar color="navbar-color">
    <ion-title>个人主页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="detail">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉加载"
                refreshingSpinner="circles"
                refreshingText="加载中...">
        </ion-refresher-content>
    </ion-refresher>
  <!--顶部-->
  <div text-center class="p20 c_white bg_ad_d6">
      <div>
          <img class="br50" [src]="src"/>
      </div>
      <div class="lh2em">
          <span id="nickName">CT-454543534</span>
          <span class="br50 bg_e66c61 xb"><ion-icon name="female"></ion-icon></span>
          <!--<ion-icon name="male"></ion-icon>-->
          <span class="inblock bg_43a8e8 dj">V2</span>
      </div>
      <div class="wp100 clearfix lh2em">
          <div class="fl wp50">关注<span class="pl10">580</span></div>
          <div class="fl w_line"></div>
          <div class="fl wp49">粉丝<span class="pl10">345</span></div>
      </div>
      <div id="introduce">
          个人简介
      </div>
  </div>
  <div class="bg_f0 c_a3 pl8 lh2em" id="totalTZ">{{pageDataService.articles.length}}个帖子</div>
  
   <ion-list>
        <ion-item *ngFor="let item of pageDataService.articles">
            <forum-cell
                    [item]="item"
                    (articleDetailEmitter)="openPage($event)"
            ></forum-cell>
        </ion-item>



    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doAppendData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载中...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>


<ion-footer class="mine-detail-foot">
    <div class="b_fff lh2em ptb6 bd_t_e6" *ngIf="isMe" (click)="doEdit()">
        <div class="tc">
            <i class="icon iconfont c_d23e3e">&#xe616;</i>
            <span class="c_80">编辑资料</span>
        </div>
    </div>
    <div class="tc b_fff clearfix lh2em ptb6 bd_t_e6" *ngIf="!isMe">
        <div class="fl tc wp49 {{followFlag?'hidden':''}}" (click)="follow()">
            <ion-icon name="add" class="c_d23e3e"></ion-icon>
            <span class="c_80">关注</span>
        </div>
        <div class="fl tc wp49 {{followFlag?'':'hidden'}}" (click)="unfollow()">
            <ion-icon name="close"></ion-icon>
            <span class="c_80">取消关注</span>
        </div>
        <div class="c_line"></div>
        <div class="fl tc wp49">
            <ion-icon name="mail" class="c_d23e3e"></ion-icon>
            <span class="c_80" (click)="goChat()">私信</span>
        </div>
    </div>
</ion-footer>
