.editDetail{
    .file {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        text-indent: 0;
        width: 100%;
        color: #7f7f7f;
        line-height: 80px;
        input[type=file] {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            width: 80px;
        }
        [type=submit] {
            position: absolute;
            right: 110px;
            width: 3em;
            line-height: 24px;
            top: 50%;
            margin-top: -12px;
            height: 24px;
            top: 50%;
            font-size: 1.2rem;
        }
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            float: right;
        }
    }
    .chang-nickname-hint{
        text-align: left;
        padding-top: 5px;
        padding-left: 16px;
        color: $navbar-color;
    }
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}