<ion-header class="forum-head">
  <ion-navbar color="navbar-color">
        <ion-title>帖子详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forum forum-detail article-content">

    <div *ngIf="item != null">
        <div class="content-head">
            <h2 class="content-head">{{item.title}}</h2>
            <div class="read-count">
                <ion-icon name="eye"></ion-icon>
                <span>{{item.totalReadTimes}}</span></div>
        </div>
        <div>
            <ion-list>
                <ion-item>
                    <ion-card>
                        <ion-item>
                            <ion-avatar item-left>
                                <img src="{{item.photo || 'assets/images/marty-avatar.png'}}">
                            </ion-avatar>
                            <div>
                                <div style="position: relative;">
                                    <h2>{{item.nickname}}</h2>
                                    <p class="time">{{item.publishDatetime | forumDate}}</p>
                                    <div class="inblock" *ngIf="!isMe">
                                        <!--{{followFlag?'hidden':''}}-->
                                        <button outline small class="origin content-btn {{followFlag?'hidden':''}}"
                                                (click)="follow(item.publisher)">+关注
                                        </button>

                                        <button outline small class="origin content-btn {{followFlag? '':'hidden'}}"
                                                (click)="unfollow(item.publisher)">取消关注
                                        </button>

                                    </div>
                                </div>
                                <ion-card-content>
                                    <!--<h2 style="margin: 6px 0;">{{item.title}}</h2>-->
                                    <p (tap)="goUserDetail($event)" [innerHTML]="item.content"></p>
                                    <div *ngIf="item.picArr != null" class="img-cont" (click)="showImg($event)">
                                        <img class="imgs wp30 mr2p" src="{{p}}" *ngFor="let p of item.picArr"/>
                                    </div>
                                </ion-card-content>
                            </div>
                        </ion-item>
                    </ion-card>
                </ion-item>
            </ion-list>
        </div>
    <!--<div *ngIf="item != null" style="border-bottom: 10px solid rgb(240,240,240)">-->
        <!--<div class="detail-outer">-->
            <!--&lt;!&ndash;标题&ndash;&gt;-->
            <!--<div class="top">-->
                <!--<div>{{item.title}}</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;头像 昵称&ndash;&gt;-->
            <!--<div class="middle">-->
                <!--<div class="avatar">-->
                    <!--<img src="{{item.photo || 'assets/images/marty-avatar.png'}}">-->
                <!--</div>-->
                <!--<div class="user-info">-->
                    <!--<div class="nickname">{{item.nickname}}</div>-->
                    <!--<div class="time">{{item.publishDatetime | forumDate}}</div>-->
                <!--</div>-->
                <!--<div class="focuse" *ngIf="!isMe">-->
                    <!--<button outline small class="origin content-btn {{followFlag?'hidden':''}}"-->
                            <!--(click)="follow(item.publisher)">+关注-->
                    <!--</button>-->
                    <!--<button outline small class="origin content-btn {{followFlag?'':'hidden'}}"-->
                            <!--(click)="unfollow(item.publisher)">取消关注-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;正文图片 和文字&ndash;&gt;-->
            <!--<div class="bottom">-->
                <!--<div class="article-content">-->
                    <!--<div (tap)="goUserDetail($event)" [innerHTML]="item.content"></div>-->
                <!--</div>-->
                <!--<div *ngFor="let src of item.picArr">-->
                    <!--<img [src]="src">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div style="text-align: right; padding-right: 3px;">-->
                <!--<img src="assets/images/mine/read-times@2x.png" style="height: 10px;">-->
                <!--<span>{{item.totalReadTimes}}</span>-->
            <!--</div>-->
        <!--</div>-->

        <div style="background-color: white">
            <ion-segment [(ngModel)]="segment">
                <ion-segment-button value="pjia">
                    评价{{item.commentList.length}}
                </ion-segment-button>
                <ion-segment-button value="dzan">
                    点赞{{item.likeList.length}}
                </ion-segment-button>
            </ion-segment>
        </div>

        <div [ngSwitch]="segment" class="com-btn1 mb50">
            <div *ngSwitchCase="'pjia'">
                <div class="com-bottom">
                    <ion-list>
                        <ion-item *ngFor="let c of item.commentList">
                            <div><span class="u-name"><span>{{c.nickname}}</span>：</span>
                            <span class="u-msg">{{c.content}}</span></div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div *ngSwitchCase="'dzan'">
                <div class="com-top clearfix">
                    <ion-list>
                        <ion-item *ngFor="let g of item.likeList">
                            <span class="t-3dot">{{g.nickname}}</span>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </div>

</ion-content>

<ion-footer class="forum-foot" *ngIf="item != null">
    <!--class="bootomInput"-->
    <div class="bootomInput ">
      <ion-input #msgInput1 [(ngModel)]="inputValue" (focus)="doFocus1($event)" placeholder="回个话鼓励下楼主"></ion-input>
      <a (click)="sendMsg1(msgInput1.value)">发送</a>
      <button class="fl {{item.isDZ == '0'?'':'hidden'}}" (click)="praise(item.code)">
        <i class="icon iconfont">&#xe624;</i>
      </button>
      <button class="fl {{item.isDZ == '0'?'hidden':''}}" (click)="praise(item.code, true)">
        <!--<i class="icon iconfont">&#xe624;</i><span class="praise-total">{{item.totalDzNum}}</span>-->
        <ion-icon name="thumbs-up" style="color:#f64444;font-size:1.6em;"></ion-icon>
      </button>
      <button class="fl {{isMe?'':'hidden'}}" (click)="deleteTz(item.code)">
        <ion-icon style="font-size:1.6em;" name="trash"></ion-icon>
      </button>
      <button class="fl" (tap)="presentActionSheet()">
        <ion-icon style="font-size:1.6em;" name="more"></ion-icon>
      </button>
    </div>
</ion-footer>