<ion-header class="forum-head">
  <ion-navbar color="navbar-color">
        <ion-title>帖子详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forum forum-detail">
    <div *ngIf="item != null">
    <div>
        <ion-list>
            <ion-item>
                <ion-card>
                    <ion-item>
                        <ion-avatar item-left>
                            <img src="{{item.photo || 'images/marty-avatar.png'}}">
                        </ion-avatar>
                        <div>
                            <div style="position: relative;">
                                <h2>{{item.nickname}}</h2>
                                <p class="time">{{item.publishDatetime | forumDate}}</p>
                                <div class="inblock" *ngIf="!isMe">
                                    <button outline small class="origin content-btn {{followFlag?'hidden':''}}" (click)="follow(item.publisher)">+关注</button>
                                    <button outline small class="origin content-btn {{followFlag?'':'hidden'}}" (click)="unfollow(item.publisher)">取消关注</button>
                                </div>
                            </div>
                            <ion-card-content>
                                <h2 style="margin: 6px 0;">{{item.title}}</h2>
                                <p>{{item.content}}</p>
                                <div [style.height]="imgHeight" *ngIf="item.pic != null" class="img-cont" (click)="showImg($event)">
                                    <img class="imgs" [style.width]="imgHeight" src="{{p}}" *ngFor="let p of item.pic"/>
                                </div>
                            </ion-card-content>

                            <div class="com-btn">
                                <ion-buttons class="clearfix">
                                    <button class="fl">
                                        <i class="icon iconfont">&#xe60a;</i>
                                    </button>
                                    <button class="fl {{isMe?'':'hidden'}}" (click)="deleteTz(item.code)">
                                        <ion-icon name="trash"></ion-icon>
                                    </button>
                                    <div class="inblock {{isMe?'hidden': ''}}">
                                        <button class="sp-btn fl {{item.isSC == '0'?'':'hidden'}}" (click)="collect(item.code);">
                                            <ion-icon name="star-outline"></ion-icon>
                                        </button>
                                        <button class="sp-btn fl {{item.isSC == '0'?'hidden':''}}" (click)="collect(item.code, true);">
                                            <ion-icon name="star" style="color:#f64444"></ion-icon>
                                        </button>
                                    </div>
                                    <button class="fr">
                                        <i class="icon iconfont">&#xe610;</i>
                                    </button>
                                    <button class="sp-btn fr {{item.isDZ == '0'?'':'hidden'}}" (click)="praise(item.code)">
                                        <i class="icon iconfont">&#xe624;</i>
                                    </button>
                                    <button class="sp-btn fr {{item.isDZ == '0'?'hidden':''}}" (click)="praise(item.code, true)">
                                        <!--<i class="icon iconfont">&#xe624;</i><span class="praise-total">{{item.totalDzNum}}</span>-->
                                        <ion-icon name="thumbs-up" style="color:#f64444"></ion-icon>
                                    </button>
                                </ion-buttons>
                            </div>
                            <!--<div class="comment">
                                <div class="com-top clearfix">
                                    <button class="fl">
                                        <i class="icon iconfont">&#xe624;</i>
                                        <span>{{item.totalDzNum}}</span>
                                    </button>
                                    <div class="t-3dot">
                                        <span *ngFor="let g of item.postTalkList">{{g.nickname}}</span>
                                    </div>
                                </div>
                                <div class="com-bottom">
                                    <ion-list>
                                        <ion-item *ngFor="let c of item.commentList">
                                            <span class="u-name"><span>{{c.nickname}}</span>：</span><span class="u-msg">{{c.content}}</span>
                                        </ion-item>
                                    </ion-list>
                                </div>
                            </div>-->
                        </div>
                    </ion-item>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="pjia">
        评价{{item.totalCommNum}}
      </ion-segment-button>
      <ion-segment-button value="dzan">
        点赞{{item.totalDzNum}}
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment" class="com-btn1">
        <div *ngSwitchCase="'pjia'">
            <div class="com-bottom">
                <ion-list>
                    <ion-item *ngFor="let c of item.commentList">
                        <span class="u-name"><span>{{c.nickname}}</span>：</span><span class="u-msg">{{c.content}}</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div *ngSwitchCase="'dzan'">
            <div class="com-top clearfix">
                <ion-list>
                    <ion-item *ngFor="let g of item.postTalkList">
                        <span class="t-3dot">{{g.nickname}}</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </div>
    </div>
</ion-content>
<div id="ylImg2" class="mask hidden" (click)="closeImg();">
    <div>
        <div class="wrapper">
            <div class="scroller" [style.line-height]="pHeight">
                <img id="yl-img2"/>
            </div>
        </div>
    </div>
</div>
<ion-footer class="nextpage-foot">
    <div class="bootomInput">
      <ion-input #msgInput1 [(ngModel)]="inputValue" (focus)="doFocus1($event)" placeholder="请输入信息"></ion-input>
      <a (click)="sendMsg1(msgInput1.value)">发送</a>
    </div>
</ion-footer>