// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$navbar-color: rgb(206,63,66);
$background-color: rgb(239,240,241);
$line-color: lightgrey;
//$text-color: rgb(75,76,77);
$text-color: rgb(92,93,94);



$colors: (
  navbar-color: $navbar-color,
  text-color:  rgb(75,76,77),
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);

$tabs-ios-tab-color-active: $navbar-color;
$tabs-md-tab-color-active: $navbar-color;

/*底部 字体颜色*/
.tab-button-text{
  color: rgb(75,76,77);
}

.swiper-pagination-bullet-active{
  background: red;
}

.swiper-pagination-bullet{
  background: $navbar-color;
}


//display: -webkit-box;
//display: -moz-box;
//display: -ms-flexbox;
//display: -webkit-flex;
//display: flex;

