.mine-plate{
  .plate-item{
    border-bottom: 1px solid $line-color;
    background-color: white;
    display: flex;
    padding: 4px 0px;
  }
  .left{
    flex: 0 0 80px;
    img{
      width: 60px;
      height: 60px;
      margin: 10px;
    }

  }
  .middel{
    flex: 1;
    padding: 0px 10px;
    .plate-name{
      padding: 15px 0 10px;
      font-size: 18px;
    }
  }
  .right{
    flex: 0 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      padding: 3px 5px;
      display: block;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 3px;
      border: 1px solid $navbar-color;
      color: $navbar-color;
      background-color: white;
      vertical-align: middle;

    }
  }

  .platefont{
    font-size: 17px;
  }
}