<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="add-friend">

  <ion-toolbar no-border-top *ngIf="title != compareTitle">
    <ion-searchbar #target (ionCancel)="searchAction(target)"
                   (ionFocus)="beginSearch()"
                   showCancelButton="true" placeholder="输入手机号"  cancelButtonText="搜索"></ion-searchbar>
  </ion-toolbar>

  <!--查看新朋友时的显示-->
  <ion-list *ngIf="title == compareTitle">
    <div class="friend-list-item" *ngFor="let newFriend of imServe.listOfFutureFriend">
      <div class="icon">
        <img src="images/marty-avatar.png">
      </div>
      <p>{{newFriend.from}}</p>
      <div>
        <button (click)="accept(newFriend.from)">接受</button>
        <button danger (click)="rejectFriend(newFriend.from) ">拒绝</button>
      </div>
    </div>
  </ion-list>

  <!--查找好友时的显示-->
  <div class="friend-list-item" *ngIf="showFriend" >
    <div class="icon">
      <img src="images/marty-avatar.png">
    </div>
    <p>{{friendName}}</p>
    <div>
      <button (click)="addFriend()">添加</button>
    </div>
  </div>

</ion-content>
