<div class="chatView">

  <div class="imContent easemobWidgetWrapper-mobile" id="imCont">
    <div class="clearfix" *ngFor="let msgItem of _listOfChatData">
      <div *ngIf="msgItem.date && msgItem.data" class=" easemobWidget-date">{{msgItem.date}}</div>
      <!--对方发送的-->
      <div *ngIf="msgItem.from !== _me" class="emim-clear emim-mt20 emim-tl emim-msg-wrapper emim-fl">
        <!--普通文本消息-->
        <div class="easemobWidget-left"
             *ngIf="msgItem.data && !msgItem.emotionFlag && msgItem.type!='satisfactionEvaluation' && msgItem.type!='yliu'">
          <div class="easemobWidget-msg-wrapper">
            <img src="assets/images/tab-bar-xiaomi.png"/>
            <i class="easemobWidget-corner"></i>
            <div class="easemobWidget-msg-container">
              <pre>{{msgItem.data}}</pre>
            </div>
          </div>
        </div>
        <!--菜单列表-->
        <div *ngIf="msgItem.ext && msgItem.ext.msgtype && msgItem.ext.msgtype.choice" class="easemobWidget-left">
          <div class="easemobWidget-msg-wrapper">
            <img src="assets/images/tab-bar-xiaomi.png"/>
            <i class="easemobWidget-corner"></i>
            <div class="easemobWidget-msg-container">
              <p>{{msgItem.ext.msgtype.choice.title}}</p>
            </div>
          </div>
          <div class="easemobWidget-list-btns">
            <button class="easemobWidget-list-btn js_robertbtn" *ngFor="let item of msgItem.ext.msgtype.choice.items"
                    (click)="doCaidanCopy(item.id,item.name)">
              {{item.name}}
            </button>
          </div>
        </div>
        <!--满意度评价-->
        <div class="easemobWidget-left" *ngIf="msgItem.type=='satisfactionEvaluation'">
          <div class="easemobWidget-msg-wrapper">
            <img src="assets/images/tab-bar-xiaomi.png"/>
            <i class="easemobWidget-corner"></i>
            <div class="easemobWidget-msg-container">
              <p>请对我的服务做出评价</p>
            </div>
          </div>
          <div class="easemobWidget-list-btns">
            <button class="easemobWidget-list-btn js_satisfybtn"
                    (click)="doPingjiaCopy(msgItem.ext.weichat.ctrlArgs.inviteId,msgItem.ext.weichat.ctrlArgs.serviceSessionId)">
              立即评价
            </button>
          </div>
        </div>
        <!--表情-->
        <div class="easemobWidget-left" *ngIf="msgItem.emotionFlag">
          <div class="easemobWidget-msg-wrapper">
            <img src="assets/images/tab-bar-xiaomi.png"/>
            <i class="easemobWidget-corner"></i>
            <div class="easemobWidget-msg-container">
                <pre>
                  <span class="inline_block" *ngFor="let ed of msgItem.emotionArr">
                    <span *ngIf="ed[0]">{{ed[0]}}</span>
                    <img class="em-emotion" *ngIf="ed[1]" src="{{ed[1]}}"/>
                  </span>
                </pre>
            </div>
          </div>
        </div>
        <!--图片-->
        <div class="easemobWidget-left" *ngIf="msgItem.type == 'picture'">
          <div class="easemobWidget-msg-wrapper">
            <img src="assets/images/tab-bar-xiaomi.png"/>
            <i class="easemobWidget-corner"></i>
            <div class="easemobWidget-msg-container inline_table">
              <a class="easemobWidget-noline" href="javascript:;">
                <img class="easemobWidget-imgview" src="{{msgItem.url}}">
              </a>
            </div>
          </div>
        </div>
        <!--下载链接-->
        <div class="easemobWidget-left" *ngIf="msgItem.type == 'file'">
          <div class="easemobWidget-msg-wrapper easemobWidget-msg-file">
            <img src="assets/images/tab-bar-xiaomi.png"/>
            <i class="easemobWidget-corner"></i>
            <div class="easemobWidget-msg-container">
              <a target="_blank" href="{{msgItem.url}}" class="easemobWidget-fileMsg" title="{{msgItem.filename}}">
                <img class="easemobWidget-msg-fileicon" src="assets/images/file_download.png">
                <span>{{msgItem.filename}}</span>
              </a>
            </div>
          </div>
        </div>
        <!--引流-->
        <div *ngIf="msgItem.type == 'yliu'">
          <div class="yl-cont">
            <div class="yl-top">你可能想要了解的内容</div>
            <ul>
              <li class="yl-li" *ngFor="let item of msgItem.cityData" (click)="goIframeCopy(item.url, item.title)">
                <div class="li-a">
                  <div class="a-div">
                    <img class="mw30p" src="assets/images/kfitem.png"/>
                  </div>
                  <span class="a-span">{{item.title}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--我发送的-->
      <div class="emim-clear emim-mt20 emim-tl emim-msg-wrapper emim-fr" *ngIf="msgItem.from === _me && msgItem.data">
        <div class="easemobWidget-right">
          <div *ngIf="msgItem.data && !msgItem.emotionFlag && msgItem.type!='satisfactionEvaluation'"
               class="easemobWidget-msg-wrapper">
            <i class="easemobWidget-corner"></i>
            <img src="assets/images/marty-avatar.png" />
            <div class="easemobWidget-msg-container">
              <pre>{{msgItem.data}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
