.post-comment-item {
    padding: 15px 0.3rem;
    color: #464646;
    background-color: #fff;
    display: flex;
    display: -webkit-box;

    .post-comment-item-title {
        color: #7d0000;
        font-size: 0.28rem;
        flex: 1;
        -webkit-box-flex: 1;
    }

    .post-comment-item-cont {
        flex: 1;
        -webkit-box-flex: 1;
        word-wrap: break-word;
    }
}
