<div class="forum-cell">
    <ion-card style="box-shadow:none;">
        <ion-item>
            <ion-avatar item-left (tap)="goDetail(_item)">
                <img src="{{_item.photo || 'assets/images/marty-avatar.png'}}">
            </ion-avatar>
            <div>
                <div style="position: relative;">
                    <h2>{{_item.nickname}}</h2>
                    <p style="" class="origin">来自 <span>{{_item.plateName}}</span></p>
                </div>
                <p class="time">{{_item.publishDatetime | forumDate}}</p>
                <ion-card-content (click)="openPage($event,_item)">
                    <div >
                        <h2 style="margin: 6px 0;">{{_item.title}}</h2>
                        <p [innerHTML]="_item.content"></p>
                    </div>
                    <div *ngIf="_item.picArr" class="img-cont" (click)="showImg($event)">
                        <img class="imgs wp30 mr2p" [src]="p" *ngFor="let p of _item.picArr"/>
                    </div>
                </ion-card-content>


                <div class="com-btn" [class.hidden]="isHideComBtn">
                    <ion-buttons class="clearfix">
                        <button class="fl">
                            <i class="icon iconfont">&#xe60a;</i>
                        </button>
                        <button class="sp-btn fl"
                                [class.hidden]="isHideSC||_item.isSC != '0'"
                                (click)="collect(_item.code)">
                            <ion-icon name="star-outline"></ion-icon>
                        </button>
                        <button class="sp-btn fl "
                                [class.hidden]="isHideSC||_item.isSC == '0'"
                                (click)="collect(_item.code,true)">
                            <ion-icon name="star" style="color:#f64444"></ion-icon>
                        </button>
                        <button class="fr" (click)="openPage($event,_item)">
                            <i class="icon iconfont">&#xe610;</i><span>{{_item.totalCommNum}}</span>
                        </button>
                        <button class="sp-btn fr "
                                [class.hidden]="_item.isDZ != '0'"
                                (click)="praise(_item.code)">
                            <i class="icon iconfont">&#xe624;</i>
                            <span class="praise-total">{{_item.totalLikeNum}}</span>
                        </button>
                        <button class="sp-btn fr"
                                [class.hidden]="_item.isDZ == '0'"
                                (click)="praise(_item.code,true)"
                        >
                            <!--<i class="icon iconfont">&#xe624;</i>-->
                            <ion-icon name="thumbs-up" style="color:#f64444">
                            </ion-icon>
                            <span class="praise-total">{{_item.totalLikeNum}}</span>
                        </button>
                    </ion-buttons>
                </div>
                <div class="comment mt10" [class.hidden]="isHideCom">
                    <img class="arrow-top" src="assets/images/arrow-top.png"/>
                    <div class="com-top clearfix">
                        <button class="fl">
                            <i class="icon iconfont">&#xe624;</i>
                            <span class="va-t">{{_item.totalLikeNum}}</span>
                        </button>
                        <div class="t-3dot">
                            <span *ngFor="let g of _item.likeList">{{g.nickname}} </span>
                        </div>
                    </div>

                    <div class="com-bottom" *ngIf="_item.commentList.length">
                        <ion-list>
                            <ion-item *ngFor="let c of _item.commentList;">
                                <span class="u-name" (tap)="tapComment(c.commer, c.code)"><span>{{c.nickname}}</span>：</span><span class="u-msg">{{c.content}}</span>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-card>
</div>

<div id="ylImg" class="mask hidden" (click)="closeImg()">
    <div>
        <div class="wrapper">
            <div class="scroller" [style.line-height]="pHeight">
                <img id="yl-img"/>
            </div>
        </div>
    </div>
</div>