<div class="forum-cell">
    <ion-card>
        <ion-item>
            <ion-avatar item-left (tap)="goDetail(item.publisher)">
                <img src="{{item.photo || 'assets/images/marty-avatar.png'}}">
            </ion-avatar>
            <div>
                <div style="position: relative;">
                    <h2>{{item.nickname}}</h2>
                    <!--<p style="" class="origin">来自 <span>散讲</span></p>-->
                </div>
                <p class="time">{{item.publishDatetime | forumDate}}</p>
                <ion-card-content>
                    <div (click)="openPage(item)">
                        <h2 style="margin: 6px 0;">{{item.title}}</h2>
                        <p>{{item.content}}</p>
                    </div>
                    <div *ngIf="item.picArr" [style.height]="imgHeight" class="img-cont" (click)="showImg($event)">
                        <img class="imgs" [style.width]="imgHeight" [src]="p" *ngFor="let p of item.picArr"/>
                    </div>
                </ion-card-content>


                <div class="com-btn">
                    <ion-buttons class="clearfix">
                        <button class="fl">
                            <i class="icon iconfont">&#xe60a;</i>
                        </button>
                        <button class="sp-btn fl {{item.isSC == '0'?'':'hidden'}}" (click)="collect(item.code, idx);">
                            <ion-icon name="star-outline"></ion-icon>
                        </button>
                        <button class="sp-btn fl {{item.isSC == '0'?'hidden':''}}" (click)="collect(item.code, idx, true);">
                            <ion-icon name="star" style="color:#f64444"></ion-icon>
                        </button>
                        <button class="fr" (click)="openPage(item)">
                            <i class="icon iconfont">&#xe610;</i><span>{{item.totalCommNum}}</span>
                        </button>
                        <button class="sp-btn fr {{item.isDZ == '0'?'':'hidden'}}" (click)="praise(item.code, idx)">
                            <i class="icon iconfont">&#xe624;</i><span class="praise-total">{{item.totalDzNum}}</span>
                        </button>
                        <button class="sp-btn fr {{item.isDZ == '0'?'hidden':''}}" (click)="praise(item.code, idx, true)">
                            <!--<i class="icon iconfont">&#xe624;</i>-->
                            <ion-icon name="thumbs-up" style="color:#f64444"></ion-icon><span class="praise-total">{{item.totalDzNum}}</span>
                        </button>
                    </ion-buttons>
                </div>
            </div>
        </ion-item>
    </ion-card>
</div>

<div id="ylImg" class="mask hidden" (click)="closeImg();">
    <div>
        <div class="wrapper">
            <div class="scroller" [style.line-height]="pHeight">
                <img id="yl-img"/>
            </div>
        </div>
    </div>
</div>