<div class="forum-cell">
<ion-card >
    <ion-item>
        <ion-avatar item-left>
            <img src="images/marty-avatar.png">
        </ion-avatar>
        <div>
            <div style="position: relative;">
                <h2>爆料达人</h2>
                <p style="" class="origin">来自 <span>散讲</span></p>
            </div>
            <p class="time">1小时前</p>
            <ion-card-content>
                <p>开学了转给热爱学习的你，我爱学习，学习让我快乐</p>
                <div [style.height]="imgHeight" class="img-cont">
                    <img class="imgs" [style.width]="imgHeight" src="http://ww3.sinaimg.cn/large/6927e7a5jw1f7rtrs2ubvj208c08c0sx.jpg"/>
                    <img class="imgs" [style.width]="imgHeight" src="http://ww3.sinaimg.cn/large/6927e7a5jw1f7rtrs2ubvj208c08c0sx.jpg"/>
                    <img class="imgs" [style.width]="imgHeight" src="http://ww3.sinaimg.cn/large/6927e7a5jw1f7rtrs2ubvj208c08c0sx.jpg"/>
                </div>
                <div [style.height]="imgHeight" class="img-cont">
                    <img class="imgs" [style.width]="imgHeight" src="http://ww3.sinaimg.cn/large/6927e7a5jw1f7rtrs2ubvj208c08c0sx.jpg"/>
                    <img class="imgs" [style.width]="imgHeight" src="http://ww3.sinaimg.cn/large/6927e7a5jw1f7rtrs2ubvj208c08c0sx.jpg"/>
                    <img class="imgs" [style.width]="imgHeight" src="http://ww3.sinaimg.cn/large/6927e7a5jw1f7rtrs2ubvj208c08c0sx.jpg"/>
                </div>
            </ion-card-content>

            <div class="com-btn">
                <ion-buttons class="clearfix">
                    <button class="fl">
                        <i class="icon iconfont">&#xe60a;</i>
                    </button>
                    <button class="fr">
                        <i class="icon iconfont">&#xe610;</i>
                    </button>
                    <button class="fr">
                        <i class="icon iconfont">&#xe624;</i>
                    </button>
                </ion-buttons>
            </div>
            <div class="comment">
                <div class="com-top clearfix">
                    <button class="fl">
                        <i class="icon iconfont">&#xe624;</i>
                        <span>50</span>
                    </button>
                    <div class="t-3dot">
                        <span>aaa</span>
                        <span>，啊啊啊</span>
                        <span>，史蒂夫</span>
                        <span>，我空间</span>
                        <span>，译意风</span>
                        <span>，开始佛</span>
                    </div>
                </div>
                <div class="com-bottom">
                    <ion-list>
                        <ion-item>
                            <span class="u-name"><span>阿萨姆</span>：</span><span class="u-msg">是对方的说法技术的父节点是否is的地点。是福建省的房间的司法局</span>
                        </ion-item>
                        <ion-item>
                            <span class="u-name"><span>阿萨姆</span>：</span><span class="u-msg">是对方的说法技术的父节点是否is的地点。是福建省的房间的司法局</span>
                        </ion-item>
                        <ion-item>
                            <span class="u-name"><span>阿萨姆</span>：</span><span class="u-msg">是对方的说法技术的父节点是否is的地点。是福建省的房间的司法局</span>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-item>
    </ion-card>
</div>