<ion-header class="forum-head">
    <ion-navbar color="navbar-color">
    <ion-buttons start>
        <button (click)="search()" class="nav-bar-item-btn" color="navbar-color">
        <!--<ion-icon name="search"></ion-icon>-->
        <i class="icon iconfont">&#xe601;</i>
        </button>
    </ion-buttons>

    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="yliao">
        有料
        </ion-segment-button>
        <ion-segment-button value="ltan">
        论坛
        </ion-segment-button>
    </ion-segment>
    <ion-buttons end>
        <button (click)="send()" class="nav-bar-item-btn">
        <!--<ion-icon name="create"></ion-icon>-->
        <i class="icon iconfont">&#xe616;</i>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="forum forum-detail" style="background-color: #ffffff;">
    <!--class="no-abs"-->
    <ion-refresher (ionRefresh)="doRefresh($event)" >
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉加载"
                refreshingSpinner="circles"
                refreshingText="加载中...">
        </ion-refresher-content>
    </ion-refresher>

    <div [ngSwitch]="segment" style="background-color: white;">
        <!--帖子相关-->
        <div *ngSwitchCase="'yliao'">
        <ion-list>
            <ion-item *ngFor="let item of items;let idx=index;">
                <forum-cell
                        [item]="item"
                        [navCtrl]="navCtrl"
                        [isHideCom]=false
                        [isHideSC]=true
                >

                </forum-cell>
            </ion-item>
        </ion-list>
        </div>

        <!--板块选择-->
        <div *ngSwitchCase="'ltan'" >

            <div *ngIf="classification.length <= 0" style="text-align: center; padding-top: 30px; font-size:16px; background-color: rgba(0, 0, 0, 0);">
                <div style="padding:10px;">好像没有获取到板块</div>
                <button (click)="getClass()" style="border: 1px solid darkgrey; padding: 10px; font-size: 16px; color:darkgrey;">
                    点击重新获取
                </button>
            </div>

            <plat-choose-view *ngIf="classification.length > 0"
                    (goPlateEmitter)="goPlateDetail($event)"
                    [classification]="classification"
                    [siteCode]="cityService.currentCity.code"
                    style="background-color: white;"
            >
            </plat-choose-view>
        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doAppendData($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>



