$percentage: 85%;

.register {
  //background-color: $background-color;

  .captcha-view{
    background-color: red;
  }

  .userNameInput, .pwdInput {
    display: block;
    width: $percentage;
    height: 40px;
    margin: 0 auto;
  }

  .userNameInput {
    margin-top: 40px;
    margin-bottom: 2px;
  }

  .pwdInput {
    margin-bottom: 2px;
  }

  .register-btn {
    height: 40px;
    width: $percentage;
    margin: 0 auto;

    //background-color: $theme-color;
    color: white;
    margin-top: 30px;
  }

}
