$percentage: 85%;

.register {

  //background-color: $background-color;
  text-align: center;
  .button, .button.activated{
    background: #ce3f42;
  }
  .captcha-view{
    background-color: red;
    margin-bottom: 10px;
  }

  .userNameInput, .pwdInput, .rePwdInput {
    display: block;
    width: $percentage;
    height: 40px;
    margin: 0 auto;
  }

  .userNameInput {
    margin-top: 40px;
    margin-bottom: 2px;
  }


  .pwdInput, .rePwdInput {

    margin-top: 2px;
  }


  .register-btn {
    height: 45px;
    width: 100%;
    margin: 0 auto;
    background-color: $navbar-color;
    color: white;
    font-size: 16px;
    border-radius: 5px;
  }

  .back-login{
    width: $percentage;
    margin: 0 auto;
    display: flex;
    margin-top: 5px;
    //justify-content: flex-end;
    align-items: center;
    height: 20px;
    a{
      line-height: 20px;
      vertical-align: middle;
      color: $navbar-color;
    }
    button{
      background-color: $background-color;
      height: 100%;
      font-size: 16px;
      color: $navbar-color;
    };
  }
  .capt-item button{
    min-width: 6em;
    height: 30px;
    background-color: $navbar-color;
    color: white;
    border-radius: 3px;

  }

  .protocol{
    margin: 0 auto;
    width: $percentage;
    display: flex;
    //justify-content: flex-end;
    align-items: center;
    height: 20px;
  }
  .register-div{
    padding: 16px;
  }
  ion-list > .item{
    padding-right: 16px;
  }
  ion-list > .item:first-child{
    border-top: none;
  }
  ion-list > .item:last-child{
    border-bottom: none;
  }
  ion-list > .item:last-child .item-inner{
    border-bottom: 1px solid #c8c7cc;
  }

}
