.reward-nav-wrap {
    margin: 0.14rem 0 0.1rem;
    overflow: hidden;

    .reward-nav {
        width: 49.5%;
        height: 0.8rem;
        line-height: 0.8rem;
        color: #fff;
        font-size: 0.3rem;
        background-color: #d04042;
        text-align: center;

        a {
            color: #fff;

            img {
                height: 0.32rem;
                margin-right: 0.1rem;
                position: relative;
                top: 0.04rem;
            }
        }
    }
}

.rewardLoader {
    top: 1.9rem !important;

    .reward-list {
        min-height: 0.9rem;
        overflow: hidden;
        padding: 0.1rem 0.2rem;
        box-sizing: border-box;
        display: -webkit-box;
        /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
        display: -moz-box;
        /* Firefox 17- */
        display: -webkit-flex;
        /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
        display: -moz-flex;
        /* Firefox 18+ */
        display: -ms-flexbox;
        /* IE 10 */
        display: flex;
        /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
        -moz-box-pack: center;
        -webkit-box-pack: center;
        box-pack: center;
        -moz-box-align: center;
        -webkit-box-align: center;
        box-align: center;
        align-items: center;

        div {
            width: 33.3%;
            font-size: 0.28rem;
            color: #5c5d5e;
            flex: 0 0 33%;

            samp {
                display: inline-block;
                font-size: 0.28rem;
                padding-right: 0.1rem;
                color: #d04042;
            }
        }
    }
}
